@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap');

body {
  background-color: rgba(3,6,9);
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

button {
  border: 1px solid white;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-size: 10pt;
  /* padding: 10px; */
  /* border-radius: 10px; */
  float: right;
  font-family: 'Titillium Web', sans-serif;
} 

button:hover { background-color: rgba(10,20,30)}

.App {
  font-family: 'Titillium Web', sans-serif;
  /* color: white; */
  display: flex;
  flex-direction: column;
}

.App-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}
